# AWS
AWS_ACCOUNT_ID        = ""
AWS_REGION            = "ap-northeast-1"
AWS_ACCESS_KEY        = ""
AWS_SECRET_ACCESS_KEY = ""


# Google
GOOGLE_CLIENT_ID      = ""
GOOGLE_CLIENT_SECRET  = ""


# GitHub
GITHUB_REPOSITORY     = ""
